<section id="image-carousel" class="splide">
  <div class="splide__track">
    <div class="btn__slider">
      <span (click)="navigateBackward()"  class="prev-arrow"
        ><mat-icon>keyboard_arrow_left</mat-icon></span
      >
      <span (click)="navigateForward()" class="forw-arrow"
        ><mat-icon>keyboard_arrow_right</mat-icon></span
      >
    </div>
    <div class="splide__list">
      <div class="splide__slide">
        <img
          class="splide__img"
          src="{{ slides[activeSlideIndex].imageUrl }}"
          alt=""
        />
        <div class="splide__caption">
          <h2>{{ slides[activeSlideIndex].caption }}</h2>
        </div>
      </div>
    </div>

    <div class="dot__indicator__list">
      @for (slide of slides; track $index) {
      <span class="dot"  [class.active]="$index === activeSlideIndex"></span>
      }
    </div>
  </div>
</section>
