<section class="home-container">
  <app-carousel></app-carousel>
  <section class="content-container">
    <section class="slide__list">
      <h2>Added slides</h2>
      
      <ul>
        @for (slide of slides; track $index) {
        <li class="slide__list__item" >
          <span>Slide {{ $index + 1 }} </span>
          <mat-icon (click)="deleteSlide($index)">delete</mat-icon>
        </li>
        }
      </ul>
    </section>
  
    <section class="form__container">
      <h1>Add new slide</h1>
      <form [formGroup]="slideForm" class="new__slide" (ngSubmit)="onSubmit()">
        <div class="form__group">
          <label for="imageUrl">Image Url</label>
          <input placeholder="Enter URL for slide "  type="text" class="form__control" formControlName="imageUrl"  />
  
        </div>
        <div class="form__group">
          <label for="caption">Slide caption</label>
          <input placeholder="Enter caption for slide " type="text" class="form__control" formControlName="caption" />
          
        </div>
        <button class="btn" type="submit" >Submit</button>
      </form>
    </section>
    
  </section>
</section>
