.home-container{
    max-width: 100%;
    margin: 0 auto;
    .slide__list__item{
      margin: .5rem 0;
    }
    .content-container{
      margin: 0 2vw;
    }

    .form__container {
      margin: 0 auto;
      padding: 20px;
    
      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .form__group {
        margin-bottom: 20px;
        label {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
          }
          .form__control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
          }
      }
      .btn{
        padding: .3rem 1rem;
        border: none;
        border-radius: 5px;
        background: rgb(63, 63, 255);
        color: white;
      }
    
    
    }
    

}

